@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700;900&display=swap");

:root {
  --smokeyblack: #0c0f0a;
  --wintersky: #ff206e;
  --lemonglacier: #fbff12;
  --turquoise: #41ead4;
  --White: #ffffff;
}
* {
  font-family: "M PLUS Rounded 1c";
}

/*Navbar*/
nav {
  background-color: var(--smokeyblack);
  color: var(--wintersky);
}
#namebox {
}
/*main box*/
#main {
  background-image: linear-gradient(180deg, var(--turquoise), var(--wintersky));
  height: calc(100vh - 11.5vh);
}
h1 {
  text-align: center;
  width: 100%;
  color: var(--White);
}
/*carousel*/
/*User box*/
#userbox {
  border: #fbff12 solid 1pt;
  color: #ffffff;
  transition: box-shadow 1s ease-in-out, color 0.3s ease-in-out;
}
#userbox:hover {
  box-shadow: var(--lemonglacier) 0px 0px 10px;
}
#userbox:hover h2 {
  color: var(--lemonglacier);
}
#userbox h2 {
  margin-bottom: 1em;
}
.affirm {
  background-color: #e3e614;
  color: var(--smokeyblack);
  font-weight: bold;
  transition: box-shadow 1s ease-in-out, border 0.2s ease-in-out;
}
.affirm:hover {
  box-shadow: var(--lemonglacier) 0px 0px 10px;
  border: var(--lemonglacier) 1pt solid;
  color: #fbff12;
}
.new {
  background-color: var(--turquoise);
  font-weight: bold;
}
.new:hover {
  box-shadow: var(--wintersky) 0px 0px 10px;
  color: var(--wintersky);
  text-shadow: #ffffff 0px 0px 2px;
  border: var(--wintersky) 1pt solid;
}
/*footer*/
footer {
  background-color: var(--smokeyblack);
  padding: 0.5em 1em;
}
#iconbox {
  width: 10%;
}
svg {
  color: var(--wintersky);
  /*background: -webkit-linear-gradient(
    45deg,
    var(--turquoise),
    var(--wintersky)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
svg:hover {
  color: var(--turquoise);
}
svg:active {
  color: var(--lemonglacier);
}
