@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700;900&display=swap");

:root {
  --smokeyblack: #0c0f0a;
  --wintersky: #ff206e;
  --darkwintersky: #c11954;
  --lemonglacier: #fbff12;
  --turquoise: #41ead4;
  --darkturquoise: #2da998;
  --white: #ffffff;
}

* {
  font-family: "M PLUS Rounded 1c";
}

/*Navbar*/
.nav {
  background-color: var(--smokeyblack);
  color: var(--wintersky);
}

#basic-navbar-nav > div {
  width: 100%;
  display: flex;
  justify-content: right;
}

.nav-spacer {
  margin-left: 5em;
  gap: 3em;
}

#basic-navbar-nav > div a {
  display: flex;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: var(--wintersky);
}
.nav a:hover {
  color: var(--white);
}
#basic-nav-dropdown {
  color: var(--wintersky);
}
#basic-nav-dropdown:hover {
  color: var(--white);
}

#hamburgermenu {
  font-size: 25pt;
}

#namebox {
}
/*main box*/

#main {
  background-image: linear-gradient(180deg, var(--turquoise), var(--wintersky));
  /*height: calc(100vh - 11.5vh);*/
  min-height: 100vh;
  position: relative;
}
#mainComponents {
  width: 90%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
h1 {
  text-align: center;
  width: 100%;
  color: var(--white);
}
/*buttons*/

#mainComponents > div > div:nth-child(1) > div > div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: relative;
  background-image: radial-gradient(transparent 95%, white);
}

.button-overlay {
  position: absolute;
  border-radius: 10px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  background-image: radial-gradient(transparent 90%, white);
}

.mb-2.generalbutton.turquoisebtn.btn.btn-primary {
  background-color: #41ead4;
  font-weight: bold;
  transition: box-shadow 1s ease-in-out, border 0.2s ease-in-out;
}

.mb-2.generalbutton.turquoisebtn.btn.btn-primary:hover {
  background-color: var(--darkturquoise);
  box-shadow: var(--lemonglacier) 0px 0px 10px;
  border: var(--lemonglacier) 1pt solid;
  color: #fbff12;
}

.mb-2.generalbutton.pinkbtn.btn.btn-primary {
  background-color: var(--wintersky);
  color: rgba(255, 255, 255, 0.731);
  font-weight: bold;
  transition: box-shadow 1s ease-in-out, border 0.2s ease-in-out;
}
.mb-2.generalbutton.pinkbtn.btn.btn-primary:hover {
  background-color: var(--darkwintersky);
  box-shadow: white 0px 0px 10px;
  color: var(--white);
  border: var(--wintersky) 1pt solid;
}

/*carousel*/
/*User box*/
#userbox {
  border: #fbff12 solid 1pt;
  color: #ffffff;
  transition: box-shadow 1s ease-in-out, color 0.3s ease-in-out;
}
#userbox:hover {
  box-shadow: var(--lemonglacier) 0px 0px 10px;
}
#userbox:hover h2 {
  color: var(--lemonglacier);
}
#userbox h2 {
  margin-bottom: 1em;
}

.login-form {
  background-color: #0c0f0a3b;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}

/*footer*/
footer {
  background-color: var(--smokeyblack);
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#iconbox {
  width: 100%;
}
svg {
  color: var(--wintersky);
  /*background: -webkit-linear-gradient(
    45deg,
    var(--turquoise),
    var(--wintersky)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
svg:hover {
  color: var(--turquoise);
}
svg:active {
  color: var(--lemonglacier);
}
